
//=====================================Standart desktop width=======================================//
$desktop-width: 1140px;

//===================================Breakpoints=========================================//
$medium_or_large_devices_breakpoint: 1025px;
$small_devices_breakpoint: 640px;

//===================================Breakpoints=========================================//