
//==========================================Color Variables=======================================//

$main_yellow_color: #fff200;
$menu_items_color: #232323;
$search_input_bg_color: #e8e4f1;
$slider_dots_color: #b7b7b7;
$title_blue_color: #009dda;
$why_choose_us_violet_color: #503392;
$why_choose_us_description_color: #999999;
$best_products_description_hover_color: #7e61c0;
$product_definition_color: #676767;
$list_items_bg: rgba(32, 21, 55, 0.7);
$card_border_color: #ebebeb;
$get_in_touch_description_color: #999999;
$contact_form_background_color: #1a1a1a;
$form_input_color: #949494;
$button_bg_color: #ffff00;
$button_text_color: #373737;
$contact_form_info_text_color: #f3f3f3;
$footer_bg_color: #1a1a1a;
$copyright_text_color: #7a7a7a;

//==========================================Color Variables=======================================//